.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #dcdde1;
  color: #353b48;
  flex-wrap: wrap;
}

.description {
  margin-bottom: 5px;
}

.goBackButton {
  cursor: pointer;
  background-color: #dcdde1;
  outline: none;
  border: none;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}
